@charset "ISO-8859-1";
/* Style pour les écrans d'une largeur inférieure à 768 pixels */
@media (max-width: 768px) {

form {
    width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}
