@charset "ISO-8859-1";

/* Style pour les écrans d'une largeur inférieure à 768 pixels */
@media (max-width: 768px) {
    .titre {
        font-size: 16px;
    }
}

/* Style pour les écrans d'une largeur supérieure à 768 pixels */
@media (min-width: 768px) {
    .titre {
        font-size: 24px;
    }
}


form {
    width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}
